<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
              
 </a><%= link_to "Brilliant", root_path, :class => 'brand' %>

 <%= render 'layouts/dropdown' %>       
                   

<ul class="nav nav-tabs nav-collapse"> 
      <li class="active">
                     <li><%= link_to 'portraits', pages_portraits_path %></li>
                     <li><%= link_to 'kids', pages_kids_path %></li>
                     <li><%= link_to 'travel', pages_travel_path %></li>

</ul>

                      
               
                 
         
     

      
